@charset "UTF-8";

:root {
	/* Colors */
	--borderColor: whitesmoke;
	--selectionColor: #e3af54;
	--greenPlayer: #1a7077;
	--redPlayer: #af2a4b;
	--blackPlayer: #3a3a3a;
	--whitePlayer: #e6e7e8;
	--nullPlayer: #9d734a;
  }

html {
	width: 100%;
	height: -webkit-fill-available;
}
body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	font-size: 1em;
	background-image: linear-gradient(#fefefe, #ccb454, #439952);
	color: #422;
	font-family: Serif;
	overflow: hidden;
	height: 100%;
    width: 100%;
	margin: 0;
}

#mainContainer {	
	height: 90%;
	width: 100%;
}

.mappa {
	margin-left: auto;
    margin-right: auto;
	height: 90vh;
	width: 61.8vh;
	font-size: 12pt;
	border-radius: 4px;
	display: block;
    min-width: 250px;
	text-align: center;
	background-image: url('../img/mappa_small.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/* #mappa {
	height: 100%;
} */
.rigaArea {
	width: 100%;
	display: flex;
	flex-direction: row;
	position: relative;
}
.area {
	display: block;
	position: relative;
	/* float: left; */
}
.areaBacino {
	border: solid 3px var(--borderColor);
	border-radius: 5px;
}
.areaBacino div {
	height: 50%;
	position: relative;
	top: 25%;
}
.areaBacino div img {
	height: 100%;
}
.areaBacino div span {
	font-size: x-large;
	font-weight: bold;
	color: var(--borderColor);
}
.areaDiga {
	width: 4.2vh;
	height: 3.3vh;
	border: solid 3px var(--borderColor);
	border-radius: 5px;
}
.areaDiga div {
	height: 100%;
	position: relative;
	white-space: nowrap;
}
.areaDiga div img {
	height: 100%;
}
.areaDiga div span {
	font-size: x-large;
	font-weight: bold;
	color: var(--borderColor);
}
.areaCondotta {
	width: 2.5vh;
	height: 2.5vh;
	border: solid 3px var(--borderColor);
	border-radius: 1.4vh;
	position: relative;
}
.areaCondotta div {
	height: 100%;
	position: relative;
	white-space: nowrap;
}
.areaCondotta div img {
	height: 100%;
}
.areaCentrale {
	width: 4.9vh;
	height: 2.7vh;
	border: solid 3px var(--borderColor);
	border-radius: 5px;
}
.areaCentrale div {
	height: 100%;
	position: relative;
	white-space: nowrap;
}
.areaCentrale div img {
	height: 100%;
}
#rigaS {
	top: 3%;
}
#rigaS .areaBacino {
	width: 7.6vh;
	height: 5.2vh;
}
#rigaDP_14G {
	top: 6.5%;
}
#rigaDP_14G .areaBacino {
	width: 7.6vh;
	height: 4.5vh;
}
#rigaDP_14 {
	top: 6.2%;
}
#rigaC_14 {
	top: 6.2%;
}
#rigaC_14 .areaBacino {
	width: 5.3vh;
	height: 3.5vh;
}
#rigaC_14 .areaCondotta {
	top: 0.6vh;
}
#rigaDF_14 {
	top: 6.2%;
}
#rigaCP_57 {
	top: 11%;
}
#rigaCF_57 {
	top: 10.5%;
}
#areaSA {
	left: 6vh;
}
#areaSB {
	left: 13vh;
}
#areaSC {
	left: 18.2vh;
}
#areaSD {
	left: 24.5vh;
}
#areaDP_1G {
	left: 6vh;
}
#areaDP_2G {
	left: 13vh;
}
#areaDP_3G {
	left: 18.2vh;
}
#areaDP_4G {
	left: 24.5vh;
}
#areaDP_1 {
	left: 8.1vh;
}
#areaDP_2 {
	left: 17.5vh;
}
#areaDP_3 {
	left: 27vh;
}
#areaDP_4 {
	left: 36vh;
}
#areaC_1A {
	left: 4.5vh;
}
#areaDF_1G {
	left: 4.5vh;
}
#areaC_1B {
	left: 4.5vh;
}
#areaC_2A {
	left: 6.7vh;
}
#areaDF_2G {
	left: 6.7vh;
}
#areaC_2B {
	left: 6.5vh;
}
#areaC_3A {
	left: 9vh;
}
#areaDF_3G {
	left: 9vh;
}
#areaC_3B {
	left: 9vh;
}
#areaC_4A {
	left: 10.5vh;
}
#areaDF_4G {
	left: 10.5vh;
}
#areaC_4B {
	left: 10.5vh;
}
#areaDF_1 {
	left: 8.1vh;
}
#areaDF_2 {
	left: 17.5vh;
}
#areaDF_3 {
	left: 27vh;
}
#areaDF_4 {
	left: 36vh;
}
#areaCP_5 {
	left: 17.5vh;
}
#areaCP_6 {
	left: 26.3vh;
}
#areaCP_7 {
	left: 35.8vh;
}
#areaCF_5 {
	left: 17.5vh;
}
#areaCF_6 {
	left: 26.3vh;
}
#areaCF_7 {
	left: 35.8vh;
}


/* Selection color: #e3af54 */
.selector {	
	width: 2.5vh;
	height: 2.5vh;
    vertical-align: middle;
    text-align: center;
	line-height: 2.5vh;
	font-weight: bold;
	color: var(--borderColor);
	border: solid 3px var(--borderColor);
	border-radius: 5px;
	position: absolute;
}
#P1_Selector {
	bottom: 7.5vh;
	left: calc(((100vw - 61.8vh) / 2) + 1vh);
	background-color: var(--greenPlayer);
}
#P2_Selector {
	bottom: 4vh;
	left: calc(((100vw - 61.8vh) / 2) + 1vh);
	background-color: var(--redPlayer);
}
#P0_Selector {
	bottom: 4vh;
	left: calc(((100vw - 61.8vh) / 2) + 4.5vh);
	background-color: var(--nullPlayer);
}


.titolo {
	font-size: 1.5em;
	text-align: center;
	font-family: Serif;
	font-weight: bold;
	height: 7%;
	line-height: 7%;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}
.titolo span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: 3%;
}

input, select {
	font-family: Serif;
}
input[type="button"] {
    border-radius: 4px;
    color: #422;
	border: 1px solid #422;
    font-weight: bold;
	margin-left: 2vw;
	margin-right: 2vw;
}

.info {
	display: table;	
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	height: 5%;
	text-align: center;
	font-size:8pt;
}

.infoinfo {
	display: table-cell;
	text-align: left;
}

.cartepescate {	
    display: table-cell;
    text-align: right;
}

.risultato {
	margin-left: auto;
    margin-right: auto;
	height: 90%;
	width: 96%;
	font-size: 12pt;
	border-radius: 4px;
	display: block;
    min-width: 250px;
	text-align: center;
}

.mazzo {
	margin-left: auto;
    margin-right: auto;
	height: 80vh;
	width: 60vh;
	border-radius: 1vh;
}
.dorso {
	box-shadow: 1vw 1vw #999;
}

.front {
	position: fixed;
	margin-left: -48vh;
}

.cartaround {	
	margin-left: auto;
    margin-right: auto;
	height: 60vh;
	width: 43vh;
	border-radius: 1vh;	
}

.legenda {
	margin-left: auto;
    margin-right: auto;
	left: 2%;
	font-size: 12pt;
	position: absolute;
	width: 96%;
	text-align: center;
	bottom: 0px;	
	margin-bottom: 5%;
    z-index: 100;
}
.legenda div {
	font-size: 10pt;
}
#legendaC {
	display:block;
}
#legendaO {
	display:none;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid #422;
	border-radius: 4px;padding-top: 3vw;
    padding-bottom: 3vw;
}

#legendaO input[type="button"] {
	margin-bottom: 3vw;
}

@media all and (max-width: 380px) {
	
	body {
		margin: 2%;
		width: 96%;
	}
	.legenda {	
		width: 96%;
		margin-bottom: 2%;
	}
}

@media all and (max-height: 400px) {	

	#legendaC{
		display:none;
	}
}
