@charset "UTF-8";

:root {
	/* Colors */
	--borderColor: whitesmoke;
	--blackColor: #3a3a3a;
	--selectionColor: #e3af54;
	--greenPlayer: #1a7077;
	--redPlayer: #af2a4b;
	--blackPlayer: #3a3a3a;
	--whitePlayer: #e6e7e8;
	--nullPlayer: #9d734a;
	/* Dimensions */
	--vh: 1vh;
	--mh: 1vh;
	--mw: 1vw;
  }
/* oranienbaum-regular - latin */
@font-face {
	font-family: 'Oranienbaum';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/oranienbaum-v10-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/oranienbaum-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/oranienbaum-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/oranienbaum-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/oranienbaum-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/oranienbaum-v10-latin-regular.svg#Oranienbaum') format('svg'); /* Legacy iOS */
  }
html {
	width: 100%;
	height: 100%;
}
body {
	min-height: 100%;
	min-height: -webkit-fill-available;
	font-size: 1em;
	background-image: linear-gradient(#fefefe, #ccb454, #439952);
	color: #422;
	font-family: Oranienbaum;
	overflow: hidden;
	height: 100%;
    width: 100%;
	margin: 0;
}

#mainContainer {	
	/* height: calc(var(--vh)*100); */
	height: 100%;
	width: 100%;
}
#mappaContainer {
	height: 100%;
	width: calc(var(--vh)*61.8);	
	margin-left: auto;
    margin-right: auto;
}
#mappa {
	margin-left: auto;
    margin-right: auto;
	margin-top: calc(var(--vh)*5);
	height: 90%;
	width: calc(var(--vh)*61.8);
	font-size: 12pt;
	border-radius: 4px;
	display: block;
    min-width: 250px;
	text-align: center;
	background-image: url('../img/mappa_small2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#mappaToolbar {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	top: -4.75%;
	width: calc(var(--mw)*100 - 6px);
	height: 4%;
	border: 3px solid var(--blackColor);
	background-color: #4a4a4a;
	border-radius: 5px;
}
.azioneButton {	
	width: 3.5vh;
	height: 3.5vh;
    vertical-align: middle;
    text-align: center;
	line-height: 3.5vh;
	font-weight: bold;
	color: var(--blackColor);
	border: solid 2px var(--borderColor);
	border-radius: 5px;
	float: left;
	cursor: pointer;
}
.azioneButton div {	
	margin: 0.5vh;
	width: 2.5vh;
	height: 2.5vh;
	background-color: var(--blackColor);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#azione_CD div{
	background-image: url('../img/CD.png');
}
#azione_CDM div{
	background-image: url('../img/CDM.png');
}
#azione_CDC div{
	background-image: url('../img/CDC.png');
}
#azione_CE div{
	background-image: url('../img/CE.png');
}
#azione_CCO div{
	background-image: url('../img/CCO.png');
}
#azione_CCO3 div{
	background-image: url('../img/CCO3.png');
}
#azione_CCO4 div{
	background-image: url('../img/CCO4.png');
}
#azione_CCE div{
	background-image: url('../img/CCE.png');
}
#azione_CAP div{
	background-image: url('../img/CAP.png');
}
#azione_CAM div{
	background-image: url('../img/CAM.png');
}

#footer {
	margin-left: auto;
    margin-right: auto;
	height: calc(var(--vh)*5);
	width: calc(var(--vh)*61.8);
	position: absolute;
	top: calc(var(--mh)*100);
	font-size: 10pt;
	display: block;
    min-width: 250px;
	text-align: left;
	line-height: calc(var(--vh)*5);
}
#deckSwitch {	
	width: calc(var(--mw)*19);
	height: calc(var(--mw)*4.5);
    vertical-align: middle;
    text-align: center;
	line-height: calc(var(--mw)*4.5);
	font-weight: bold;
	color: var(--blackColor);
	border: solid 2px var(--blackColor);
	border-radius: 5px;
	position: absolute;
	top: calc(var(--mh)*101);
	left: calc(var(--mw)*81);
	background-color: var(--selectionColor);
	cursor: pointer;
}
.rigaArea {
	width: calc(var(--vh)*61.8);
	display: flex;
	flex-direction: row;
	position: absolute;
}
.rigaDiga {
	height: calc(var(--mh)*3.5);
}
.rigaCondotta {
	height: calc(var(--mh)*4.5);
}
.rigaCentrale {
	height: calc(var(--mh)*3.5);
}
.area {
	display: block;
	position: absolute;
	/* float: left; */
}
.areaBacino {
	border: solid 2px var(--borderColor);
	border-radius: 5px;
}
.areaBacino div {
	height: 50%;
	position: relative;
	top: 25%;
}
.areaBacino div img {
	height: 100%;
}
.areaBacino div span {
	font-size: x-large;
	font-weight: bold;
	color: var(--borderColor);
}
.areaDiga {
	width: 7%;
	height: 100%;
	border: solid 2px var(--borderColor);
	border-radius: 5px;
}
.areaDiga div {
	height: 100%;
	position: relative;
	white-space: nowrap;
}
.areaDiga div img {
	height: 100%;
}
.areaDiga div span {
	font-size: x-large;
	font-weight: bold;
	color: var(--borderColor);
}
.areaCondotta {
	width: 6%;
	height: 90%;
	border: solid 2px var(--borderColor);
	border-radius: calc(var(--mw)*4);
}
.areaCondotta div {
	height: 100%;
	position: relative;
	white-space: nowrap;
}
.areaCondotta div img {
	height: 100%;
}
.areaCentrale {
	width: 7%;
	height: 100%;
	border: solid 2px var(--borderColor);
	border-radius: 5px;
}
.areaCentrale div {
	height: 100%;
	position: relative;
	white-space: nowrap;
}
.areaCentrale div img {
	height: 100%;
}

/* Righe */

#rigaS {
    top: calc(var(--mh)*4);
    height: calc(var(--mh)*4.5);
}
#rigaS .areaBacino {
	width: 13%;
	height: 100%;
}
#rigaDP_14G {
	height: calc(var(--mh)*4.5);
	top: calc(var(--mh)*13.5);
}
#rigaDP_14G .areaBacino {
	width: 13%;
	height: 100%;
}
#rigaDP_14 {
	top: calc(var(--mh)*18.5);
}
#rigaC_14 {
	top: calc(var(--mh)*22.7);
}
#rigaC_14 .areaBacino {
	width: 8.5%;
	height: 90%;
}
/* #rigaC_14 .areaCondotta {
	top: 12%;
} */
#rigaDF_14 {
	top: calc(var(--mh)*27.3);
}
#rigaCP_57 {
	top: calc(var(--mh)*35.5);
}
#rigaCF_57 {
	top: calc(var(--mh)*39.6);
}
#rigaDP_57G {
	height: calc(var(--mh)*3.6);
	top: calc( var(--mh)*43.5);
}
#rigaDP_57G .areaBacino {
	width: 13%;
	height: 100%;
}
#rigaDP_57 {
	top: calc(var(--mh)*47.6);
}
#rigaC_57 {
	top: calc( var(--mh)*51.7);
}
#rigaC_57 .areaBacino {
	width: 8.5%;
	height: 90%;
}
/* #rigaC_57 .areaCondotta {
	top: 12%;
} */
#rigaDF_57 {
	top: calc(var(--mh)*56.1);
}
#rigaCP_810 {	
	top: calc(var(--mh)*62.4);
}
#rigaCF_810 {	
	top: calc(var(--mh)*66.7);
}
#rigaDP_810G {
	height: calc(var(--mh)*3.5);
	top: calc(var(--mh)*70.5);
}
#rigaDP_810G .areaBacino {
	width: 13%;
	height: 100%;
}
#rigaDP_810 {
	top: calc(var(--mh)*74.5);
}
#rigaC_810 {
	top: calc(var(--mh)*78.6);
}
#rigaC_810 .areaBacino {
	width: 8.5%;
	height: 90%;
}
/* #rigaC_810 .areaCondotta {
	top: 12%;
} */
#rigaDF_810 {
	top: calc(var(--mh)*83);
}
#rigaCP_1112 {	
	top: calc(var(--mh)*90.4);
}
#rigaCF_1112 {	
	top: calc(var(--mh)*94.7);
}

/* Aree */

#areaSA {
	left: 10%;
}
#areaSB {
	left: 33.5%;
}
#areaSC {
	left: 57%;
}
#areaSD {
	left: 79.5%;
}
#areaDP_1G {
	left: 10%;
}
#areaDP_2G {
	left: 33.5%;
}
#areaDP_3G {
	left: 57%;
}
#areaDP_4G {
	left: 79.5%;
}
#areaDP_1 {
	left: 13%;
}
#areaDP_2 {
	left: 36%;
}
#areaDP_3 {
	left: 59.5%;
}
#areaDP_4 {
	left: 81.8%;
}
#areaC_1A {
	left: 5.5%;
}
#areaDF_1G {
	left: 12.2%;
}
#areaC_1B {
	left: 21.5%;
}
#areaC_2A {
	left: 28.5%;
}
#areaDF_2G {
	left: 35.3%;
}
#areaC_2B {
	left: 44.7%;
}
#areaC_3A {
	left: 51.7%;
}
#areaDF_3G {
	left: 58.7%;
}
#areaC_3B {
	left: 67.7%;
}
#areaC_4A {
	left: 74.5%;
}
#areaDF_4G {
	left: 80.9%;
}
#areaC_4B {
	left: 90.2%;
}
#areaDF_1 {
	left: 13%;
}
#areaDF_2 {
	left: 36%;
}
#areaDF_3 {
	left: 59.5%;
}
#areaDF_4 {
	left: 81.7%;
}
#areaCP_5 {
	left: 29%;
}
#areaCP_6 {
	left: 52%;
}
#areaCP_7 {
	left: 76.5%;
}
#areaCF_5 {
	left: 29%;
}
#areaCF_6 {
	left: 52%;
}
#areaCF_7 {
	left: 76.5%;
}
#areaDP_5G {
	left: 26%;
}
#areaDP_6G {
	left: 49%;
}
#areaDP_7G {
	left: 74%;
}
#areaDP_5 {
	left: 29%;
}
#areaDP_6 {
	left: 52%;
}
#areaDP_7 {
	left: 76.6%;
}
#areaC_5A {
	left: 21.3%;
}
#areaDF_5G {
	left: 28.3%;
}
#areaC_5B {
	left: 37.3%;
}
#areaC_6A {
	left: 44.6%;
}
#areaDF_6G {
	left: 51.6%;
}
#areaC_6B {
	left: 60.7%;
}
#areaC_7A {
	left: 68.8%;
}
#areaDF_7G {
	left: 75.8%;
}
#areaC_7B {
	left: 85%;
}
#areaDF_5 {
	left: 29%;
}
#areaDF_6 {
	left: 52%;
}
#areaDF_7 {
	left: 76.6%;
}
#areaCP_8 {
	left: 17.3%;
}
#areaCP_9 {
	left: 41.4%;
}
#areaCP_10A {
	left: 61.7%;
}
#areaCP_10B {
	left: 69.7%;
}
#areaCF_8A {
	left: 13.2%;
}
#areaCF_8B {
	left: 21.5%;
}
#areaCF_9A {
	left: 37.3%;
}
#areaCF_9B {
	left: 45.6%;
}
#areaCF_10 {
	left: 65.7%;
}
#areaDP_8G {
	left: 14.5%;
}
#areaDP_9G {
	left: 38.5%;
}
#areaDP_10G {
	left: 62.5%;
}
#areaDP_8 {
	left: 17.3%;
}
#areaDP_9 {
	left: 41.3%;
}
#areaDP_10 {
	left: 65.6%;
}
#areaC_8A {
	left: 9.8%;
}
#areaDF_8G {
	left: 16.8%;
}
#areaC_8B {
	left: 26%;
}
#areaC_9A {
	left: 33.7%;
}
#areaDF_9G {
	left: 40.6%;
}
#areaC_9B {
	left: 49.8%;
}
#areaC_10A {
	left: 58%;
}
#areaDF_10G {
	left: 65%;
}
#areaC_10B {
	left: 74.2%;
}
#areaDF_8 {
	left: 17.5%;
}
#areaDF_9 {
	left: 41.5%;
}
#areaDF_10 {
	left: 65.8%;
}
#areaCP_11A {
	left: 24%;
}
#areaCP_11B {
	left: 32.2%;
}
#areaCP_12A {
	left: 66.6%;
}
#areaCP_12B {
	left: 74.5%;
}
#areaCF_11A {
	left: 24%;
}
#areaCF_11B {
	left: 32.2%;
}
#areaCF_12 {
	left: 66.6%;
}
#areaCP_12C {
	left: 74.5%;
}












/* Selection color: #e3af54 */
.selector {	
	width: calc(var(--mw)*4.5);
	height: calc(var(--mw)*4.5);
    vertical-align: middle;
    text-align: center;
	line-height: calc(var(--mw)*4.5);
	font-weight: bold;
	color: var(--borderColor);
	border: solid 2px var(--borderColor);
	border-radius: 5px;
	position: absolute;
	cursor: pointer;
}
#P1_Selector {
	bottom: calc(10% + var(--mw)*1.6);
	left: calc(var(--mw)*1.6);
	background-color: var(--greenPlayer);
}
#P2_Selector {
	bottom: calc(10% + var(--mw)*7.7);
	left: calc(var(--mw)*1.6);
	background-color: var(--redPlayer);
}
#P3_Selector {
	bottom: calc(10% + var(--mw)*1.6);
	left: calc(var(--mw)*7.7);
	background-color: var(--whitePlayer);
	color: var(--blackPlayer);
}
#P4_Selector {
	bottom: calc(10% + var(--mw)*7.7);
	left: calc(var(--mw)*7.7);
	background-color: var(--blackPlayer);
}
#P0_Selector {
	bottom: calc(10% + var(--mw)*1.6);
	left:calc(var(--mw)*13.8);
	background-color: var(--nullPlayer);
}







.deck {
	margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
	height: 90vh;
	width: 61.8vh;
	font-size: 12pt;
	border-radius: 4px;
    min-width: 250px;
	text-align: center;
}
.cartaContainer {
	box-sizing: border-box;
	height: calc(var(--vh)*35.7);
	width: calc(var(--vh)*52.4);
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	border: solid 2px var(--borderColor);
	border-radius: 5px;
}
#cartaAzioni {
	border: solid 2px var(--blackColor);
	cursor: pointer;
}
#cartaCriteri {
	margin-top: 1vh;
}
.cartaImg {
	width: 98%;
	margin: 1%;
}
#mappaSwitch {	
	width: 8vh;
	height: 2.5vh;
    vertical-align: middle;
    text-align: center;
	line-height: 2.5vh;
	font-weight: bold;
	color: var(--blackColor);
	border: solid 2px var(--blackColor);
	border-radius: 5px;
	position: absolute;
	top: calc(var(--vh)*71.4 + 2vh);
	left: calc(var(--vh)*52.4 - 4vh);
	background-color: var(--selectionColor);
	cursor: pointer;
}
#footerCarte {
	margin-top: 1vh;
	font-size: 10pt;
	text-align: left;
	width: calc(var(--vh)*52.4);
	margin-left: auto;
	margin-right: auto;

}



#playersPageContainer {
	margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--vh) * 5);
	margin-bottom: calc(var(--vh) * 5);;
	height: 90%;
	width: 33%;
	font-size: 12pt;
	border-radius: 4px;
    min-width: 250px;
	text-align: center;
}
#playersContainer {
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vh;
}
#playersTitoli, .playersRow {	
	display: table-row;
}
.playerCell {
	display: table-cell;
}
#playersTitoli div {	
	display: table-cell;
}
.playerChoose {
	width: 12vh;
	height: 2.5vh;
	margin-right: 1vh;
    vertical-align: middle;
    text-align: center;
	line-height: 2.5vh;
	font-weight: bold;
	color: var(--blackColor);
	border: solid 2px var(--blackColor);
	border-radius: 5px;
	background-color: whitesmoke;
	cursor: pointer;
}
.colorChoose {
	width: 2.5vh;
	height: 2.5vh;
	margin-left: 1vh;
    vertical-align: middle;
    text-align: center;
	line-height: 2.5vh;
	font-weight: bold;
	color: var(--blackColor);
	border: solid 2px var(--blackColor);
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
}
#startButton {	
	width: 10vh;
	height: 2.5vh;
    vertical-align: middle;
    text-align: center;
	line-height: 2.5vh;
	font-weight: bold;
	color: var(--blackColor);
	border: solid 2px var(--blackColor);
	border-radius: 5px;
	position: absolute;
	top: 50vh;
	left: calc(50vw - 5vh);
	background-color: var(--selectionColor);
	cursor: pointer;
}

.titolo {
	font-size: 24pt;
}
.descrizione {
	text-align: justify;
}



@media only screen and (orientation: portrait) {
	#playersPageContainer {
		width: 96%;
	}
	.deck {
		margin-top: 5%;
		height: 90%;
		width: 90%;
	}
	.cartaContainer {
		height: calc(90vw * 0.68);
		width: 100%;
	}
	#footerCarte {
		width: 100%;
	}
	#mappaSwitch {
		width: 18vw;
		height: 5.5vw;
		line-height: 5.5vw;
		left: 71vw; 
		top: 127vw;
	}
	#mappaContainer {
		height: calc((96vw * 1.453) * 1.111);
		width: 96%;	
		margin-left: auto;
		margin-right: auto;
	}
	#mappa {
		width: 100%;
		height: calc(96vw * 1.453);
		background-position: unset;
	}
	#deckSwitch {
		width: 18vw;
		height: 5.5vw;
		line-height: 5.5vw;
		left: 75vw;
	}
	#footer {
		width: 96%;
	}
	.rigaArea {
		width: 100%;
	}
	.selector {	
		width: 5.5vw;
		height: 5.5vw;
	}
	.azioneButton {
		width: 7.7vw;
		height: 7.7vw;
	}
}