@charset "UTF-8";

:root {
	/* Colors */
	--borderColor: whitesmoke;
	--blackColor: #3a3a3a;
	--selectionColor: #e3af54;
	--greenPlayer: #1a7077;
	--redPlayer: #af2a4b;
	--blackPlayer: #3a3a3a;
	--whitePlayer: #e6e7e8;
	--nullPlayer: #9d734a;
	/* Dimensions */
	--vh: 1vh;
  }

html {
	width: 100%;
	height: -webkit-fill-available;
}
body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	font-size: 1em;
	background-image: linear-gradient(#fefefe, #ccb454, #439952);
	color: #422;
	font-family: Serif;
	overflow: hidden;
	height: 100%;
    width: 100%;
	margin: 0;
}

#mainContainer {	
	height: calc(var(--vh)*100);
	width: 100%;
}

.mappa {
	margin-left: auto;
    margin-right: auto;
	margin-top: 5vh;
	height: 90vh;
	width: 61.8vh;
	font-size: 12pt;
	border-radius: 4px;
	display: block;
    min-width: 250px;
	text-align: center;
	background-image: url('../img/mappa_small.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#mappaToolbar {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	top: 0.25vh;
	width: 57.5vh;
	height: 4vh;
	border: 3px solid var(--blackColor);
	background-color: #4a4a4a;
	border-radius: 5px;
}
.azioneButton {	
	width: 3.5vh;
	height: 3.5vh;
    vertical-align: middle;
    text-align: center;
	line-height: 3.5vh;
	font-weight: bold;
	color: var(--blackColor);
	border: solid 2px var(--borderColor);
	border-radius: 5px;
	float: left;
	cursor: pointer;
}
.azioneButton div {	
	margin: 0.5vh;
	width: 2.5vh;
	height: 2.5vh;
	background-color: var(--blackColor);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#azione_CD div{
	background-image: url('../img/CD.png');
}
#azione_CDM div{
	background-image: url('../img/CDM.png');
}
#azione_CDC div{
	background-image: url('../img/CDC.png');
}
#azione_CE div{
	background-image: url('../img/CE.png');
}
#azione_CCO div{
	background-image: url('../img/CCO.png');
}
#azione_CCO3 div{
	background-image: url('../img/CCO3.png');
}
#azione_CCO4 div{
	background-image: url('../img/CCO4.png');
}
#azione_CCE div{
	background-image: url('../img/CCE.png');
}
#azione_CAP div{
	background-image: url('../img/CAP.png');
}
#azione_CAM div{
	background-image: url('../img/CAM.png');
}

#footer {
	margin-left: auto;
    margin-right: auto;
	height: 5vh;
	width: 61.8vh;
	position: absolute;
	bottom: 0vh;
	font-size: 10pt;
	display: block;
    min-width: 250px;
	text-align: left;
	line-height: 5vh;
}
#deckSwitch {	
	width: 2.5vh;
	height: 2.5vh;
    vertical-align: middle;
    text-align: center;
	line-height: 2.5vh;
	font-weight: bold;
	color: var(--blackColor);
	border: solid 2px var(--blackColor);
	border-radius: 5px;
	position: absolute;
	top: 1.2vh;
	left: calc(((100vw + 61.8vh) / 2) - 2.9vh);
	background-color: var(--selectionColor);
	cursor: pointer;
}
.rigaArea {
	width: 61.8vh;
	display: flex;
	flex-direction: row;
	position: absolute;
}
.area {
	display: block;
	position: absolute;
	/* float: left; */
}
.areaBacino {
	border: solid 2px var(--borderColor);
	border-radius: 5px;
}
.areaBacino div {
	height: 50%;
	position: relative;
	top: 25%;
}
.areaBacino div img {
	height: 100%;
}
.areaBacino div span {
	font-size: x-large;
	font-weight: bold;
	color: var(--borderColor);
}
.areaDiga {
	width: 4.2vh;
	height: 3.3vh;
	border: solid 2px var(--borderColor);
	border-radius: 5px;
}
.areaDiga div {
	height: 100%;
	position: relative;
	white-space: nowrap;
}
.areaDiga div img {
	height: 100%;
}
.areaDiga div span {
	font-size: x-large;
	font-weight: bold;
	color: var(--borderColor);
}
.areaCondotta {
	width: 2.6vh;
	height: 2.6vh;
	border: solid 2px var(--borderColor);
	border-radius: 1.4vh;
}
.areaCondotta div {
	height: 100%;
	position: relative;
	white-space: nowrap;
}
.areaCondotta div img {
	height: 100%;
}
.areaCentrale {
	width: 4.9vh;
	height: 2.7vh;
	border: solid 2px var(--borderColor);
	border-radius: 5px;
}
.areaCentrale div {
	height: 100%;
	position: relative;
	white-space: nowrap;
}
.areaCentrale div img {
	height: 100%;
}

/* Righe */

#rigaS {
	top: 8%;
}
#rigaS .areaBacino {
	width: 7.6vh;
	height: 4.5vh;
}
#rigaDP_14G {
	top: 16.7%;
}
#rigaDP_14G .areaBacino {
	width: 7.6vh;
	height: 4.5vh;
}
#rigaDP_14 {
	top: 21.6%;
}
#rigaC_14 {
	top: 25.3%;
}
#rigaC_14 .areaBacino {
	width: 5.3vh;
	height: 3.7vh;
}
#rigaC_14 .areaCondotta {
	top: 0.6vh;
}
#rigaDF_14 {
	top: 29.5%;
}
#rigaCP_57 {
	top: 38%;
}
#rigaCF_57 {
	top: 40.8%;
}
#rigaDP_57G {
	top: 44%;
}
#rigaDP_57G .areaBacino {
	width: 7.6vh;
	height: 3.5vh;
}
#rigaDP_57 {
	top: 47.8%;
}
#rigaC_57 {
	top: 51.5%;
}
#rigaC_57 .areaBacino {
	width: 5.3vh;
	height: 3.7vh;
}
#rigaC_57 .areaCondotta {
	top: 0.6vh;
}
#rigaDF_57 {
	top: 55.5%;
}
#rigaCP_810 {	
	top: 62%;
}
#rigaCF_810 {	
	top: 64.8%;
}
#rigaDP_810G {
	top: 68%;
}
#rigaDP_810G .areaBacino {
	width: 7.6vh;
	height: 3.5vh;
}
#rigaDP_810 {
	top: 71.8%;
}
#rigaC_810 {
	top: 75.5%;
}
#rigaC_810 .areaBacino {
	width: 5.3vh;
	height: 3.7vh;
}
#rigaC_810 .areaCondotta {
	top: 0.6vh;
}
#rigaDF_810 {
	top: 79.5%;
}
#rigaCP_1112 {	
	top: 87.4%;
}
#rigaCF_1112 {	
	top: 90.3%;
}

/* Aree */

#areaSA {
	left: 10%;
}
#areaSB {
	left: 33.5%;
}
#areaSC {
	left: 57%;
}
#areaSD {
	left: 79.5%;
}
#areaDP_1G {
	left: 10%;
}
#areaDP_2G {
	left: 33.5%;
}
#areaDP_3G {
	left: 57%;
}
#areaDP_4G {
	left: 79.5%;
}
#areaDP_1 {
	left: 13%;
}
#areaDP_2 {
	left: 36%;
}
#areaDP_3 {
	left: 59.5%;
}
#areaDP_4 {
	left: 82%;
}
#areaC_1A {
	left: 7.5%;
}
#areaDF_1G {
	left: 12.2%;
}
#areaC_1B {
	left: 21.5%;
}
#areaC_2A {
	left: 30.5%;
}
#areaDF_2G {
	left: 35.3%;
}
#areaC_2B {
	left: 44.4%;
}
#areaC_3A {
	left: 53.7%;
}
#areaDF_3G {
	left: 58.7%;
}
#areaC_3B {
	left: 68%;
}
#areaC_4A {
	left: 76%;
}
#areaDF_4G {
	left: 80.9%;
}
#areaC_4B {
	left: 90.2%;
}
#areaDF_1 {
	left: 13%;
}
#areaDF_2 {
	left: 36%;
}
#areaDF_3 {
	left: 59.5%;
}
#areaDF_4 {
	left: 82%;
}
#areaCP_5 {
	left: 28.3%;
}
#areaCP_6 {
	left: 51.7%;
}
#areaCP_7 {
	left: 76%;
}
#areaCF_5 {
	left: 28.3%;
}
#areaCF_6 {
	left: 51.7%;
}
#areaCF_7 {
	left: 76%;
}
#areaDP_5G {
	left: 26%;
}
#areaDP_6G {
	left: 49%;
}
#areaDP_7G {
	left: 74%;
}
#areaDP_5 {
	left: 29%;
}
#areaDP_6 {
	left: 52%;
}
#areaDP_7 {
	left: 77%;
}
#areaC_5A {
	left: 23.3%;
}
#areaDF_5G {
	left: 28.3%;
}
#areaC_5B {
	left: 37.5%;
}
#areaC_6A {
	left: 46.6%;
}
#areaDF_6G {
	left: 51.6%;
}
#areaC_6B {
	left: 60.8%;
}
#areaC_7A {
	left: 70.8%;
}
#areaDF_7G {
	left: 75.8%;
}
#areaC_7B {
	left: 85%;
}
#areaDF_5 {
	left: 29%;
}
#areaDF_6 {
	left: 52%;
}
#areaDF_7 {
	left: 77%;
}
#areaCP_8 {
	left: 16.8%;
}
#areaCP_9 {
	left: 40.9%;
}
#areaCP_10A {
	left: 61%;
}
#areaCP_10B {
	left: 69.4%;
}
#areaCF_8A {
	left: 12.7%;
}
#areaCF_8B {
	left: 21%;
}
#areaCF_9A {
	left: 36.8%;
}
#areaCF_9B {
	left: 45.1%;
}
#areaCF_10 {
	left: 65.2%;
}
#areaDP_8G {
	left: 14.5%;
}
#areaDP_9G {
	left: 38.5%;
}
#areaDP_10G {
	left: 62.5%;
}
#areaDP_8 {
	left: 17.5%;
}
#areaDP_9 {
	left: 41.5%;
}
#areaDP_10 {
	left: 65.8%;
}
#areaC_8A {
	left: 11.8%;
}
#areaDF_8G {
	left: 16.8%;
}
#areaC_8B {
	left: 26%;
}
#areaC_9A {
	left: 35.6%;
}
#areaDF_9G {
	left: 40.6%;
}
#areaC_9B {
	left: 49.8%;
}
#areaC_10A {
	left: 60%;
}
#areaDF_10G {
	left: 65%;
}
#areaC_10B {
	left: 74.2%;
}
#areaDF_8 {
	left: 17.5%;
}
#areaDF_9 {
	left: 41.5%;
}
#areaDF_10 {
	left: 65.8%;
}
#areaCP_11A {
	left: 23.6%;
}
#areaCP_11B {
	left: 32%;
}
#areaCP_12A {
	left: 65.9%;
}
#areaCP_12B {
	left: 74.2%;
}
#areaCF_11A {
	left: 23.6%;
}
#areaCF_11B {
	left: 32%;
}
#areaCF_12 {
	left: 65.9%;
}
#areaCP_12C {
	left: 74.2%;
}












/* Selection color: #e3af54 */
.selector {	
	width: 2.5vh;
	height: 2.5vh;
    vertical-align: middle;
    text-align: center;
	line-height: 2.5vh;
	font-weight: bold;
	color: var(--borderColor);
	border: solid 2px var(--borderColor);
	border-radius: 5px;
	position: absolute;
	cursor: pointer;
}
#P1_Selector {
	bottom: 9.5vh;
	left: calc(((100vw - 61.8vh) / 2) + 1vh);
	background-color: var(--greenPlayer);
}
#P2_Selector {
	bottom: 6vh;
	left: calc(((100vw - 61.8vh) / 2) + 1vh);
	background-color: var(--redPlayer);
}
#P3_Selector {
	bottom: 9.5vh;
	left: calc(((100vw - 61.8vh) / 2) + 4.5vh);
	background-color: var(--whitePlayer);
	color: var(--blackPlayer);
}
#P4_Selector {
	bottom: 6vh;
	left: calc(((100vw - 61.8vh) / 2) + 4.5vh);
	background-color: var(--blackPlayer);
}
#P0_Selector {
	bottom: 6vh;
	left: calc(((100vw - 61.8vh) / 2) + 8vh);
	background-color: var(--nullPlayer);
}







.deck {
	margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
	height: 90vh;
	width: 61.8vh;
	font-size: 12pt;
	border-radius: 4px;
    min-width: 250px;
	text-align: center;
}
.cartaContainer {
	box-sizing: border-box;
	height: 39.5%;
	width: calc(var(--vh)*52.4);
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	border: solid 2px var(--borderColor);
	border-radius: 5px;
}
#cartaAzioni {
	border: solid 2px var(--blackColor);
}
#cartaCriteri {
	margin-top: 1vh;
}
.cartaImg {
	width: 98%;
	margin: 1%;
}
#mappaSwitch {	
	width: 2.5vh;
	height: 2.5vh;
    vertical-align: middle;
    text-align: center;
	line-height: 2.5vh;
	font-weight: bold;
	color: var(--blackColor);
	border: solid 2px var(--blackColor);
	border-radius: 5px;
	position: absolute;
	top: 1.2vh;
	left: calc(50vw + var(--vh)*26 - 2.7vh);
	background-color: var(--selectionColor);
}





#playersContainer {
	display: table;
	margin-left: auto;
	margin-right: auto;
}
#playersTitoli, .playersRow{	
	display: table-row;
}
#playersTitoli div{	
	display: table-cell;
}
.playerChoose {
	display: table-cell;
	width: 15vh;
	height: 2.5vh;
    vertical-align: middle;
    text-align: center;
	line-height: 2.5vh;
	font-weight: bold;
	color: var(--blackColor);
	border: solid 2px var(--blackColor);
	border-radius: 5px;
	background-color: whitesmoke;	
}
.colorChoose {
	display: table-cell;	
	width: 2.5vh;
	height: 2.5vh;
    vertical-align: middle;
    text-align: center;
	line-height: 2.5vh;
	font-weight: bold;
	color: var(--blackColor);
	border: solid 2px var(--blackColor);
	border-radius: 5px;
	background-color: transparent;
}
#startButton {	
	width: 10vh;
	height: 2.5vh;
    vertical-align: middle;
    text-align: center;
	line-height: 2.5vh;
	font-weight: bold;
	color: var(--blackColor);
	border: solid 2px var(--blackColor);
	border-radius: 5px;
	position: absolute;
	top: 50vh;
	left: calc(50vw - 5vh);
	background-color: var(--selectionColor);
}





